<!DOCTYPE html>
<html>
    <head>
        <title>Vjezba 7</title>
    </head>
    <body>
        <a href="/register"> Registration </a><br>
        <a href="/login">Login here</a><br>
        <a href="/logout"> Logout </a><br>
        <a href="/projection_view">All projections</a>
        <p>Show my <a href="/my_tickets">projections</a></p>
        <a href="/search_projection">To see number of my projections</a>
        
        <div>
            {% block content %}
            {% endblock %}
        </div>
    </body>
</html>